[Unit]
Description=Kafka Docker container service

[Service]
ExecStart=/usr/bin/docker-compose -f GoLang-Kafka/kafka_file/docker-compose.yml up
WorkingDirectory=/home/ec2-user/
Restart=always
