[Unit]
Description=Kafka Docker container service

[Service]
ExecStart=/usr/bin/docker-compose -f docker-compose.yml up
WorkingDirectory=/home/ec2-user/
